
/*NAVIGATION*/

.navbar {

	background-color:#242424;
	border-bottom: 1px solid #b9b9b9;
}

.navbar a {
	color: #cccccc !important;
}

.navbar a:hover {
	color: #ffffff !important;
	background-color:#646464 !important;
}